body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

main {
  width: 100vw;
  background-color: #F2F2F2;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 120px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #444444;
}
.checkbox-wrapper input[type=checkbox] {
  display: none;
}
.checkbox-wrapper input[type=checkbox]:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 6px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
@media (min-width: 540px) {
  .checkbox-wrapper input[type=checkbox]:checked + .custom-checkbox::after {
    width: 4px;
    height: 4px;
    left: 1px;
    top: 1px;
  }
}
.checkbox-wrapper input[type=checkbox]:checked + .custom-checkbox {
  background-color: #18C576;
  border-color: #18C576;
}
.checkbox-wrapper .custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #D1D1D1;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  transition: background-color 0.2s ease;
}
@media (min-width: 540px) {
  .checkbox-wrapper .custom-checkbox {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 540px) {
  .checkbox-wrapper {
    font-size: 8px;
  }
}

.input-group {
  position: relative;
  width: 100%;
}
.input-group input {
  width: 100%;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  outline: none;
  background: transparent;
}
@media (min-width: 540px) {
  .input-group input {
    padding: 10px 12px;
    font-size: 12px;
  }
}
.input-group label {
  position: absolute;
  left: 10px;
  top: 18px;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  background: #F2F2F2;
  padding: 0 4px;
  transition: 0.2s ease;
  pointer-events: none;
}
@media (min-width: 540px) {
  .input-group label {
    font-size: 12px;
    top: 12px;
  }
}
.input-group input:not(:-moz-placeholder-shown):valid + label {
  top: -8px;
  font-size: 12px;
  color: #333;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown):valid + label {
  top: -8px;
  font-size: 12px;
  color: #333;
}
.input-group .input-error {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #E44B4B;
  margin-left: 12px;
}

.input-group-error input {
  border: 1px solid #F87474;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}
.modal .modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  position: relative;
  background: #F2F2F2;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100%;
  height: 100%;
}
.modal .modal-content .modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 95%;
  color: #444444;
}
@media (min-width: 540px) {
  .modal .modal-content {
    max-width: 387px;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal.show .modal-content {
  transform: translateY(0);
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
  justify-content: space-between;
}
form .form-fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 540px) {
  form .form-fields {
    gap: 12px;
  }
}
form .form-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
form .form-submit button {
  height: 50px;
}
@media (min-width: 540px) {
  form .form-submit {
    flex-direction: row;
    margin-top: 24px;
  }
  form .form-submit button {
    max-width: 106px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 540px) {
  form {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.price-large {
  font-size: 25px;
  line-height: 25px;
}

.price-dark {
  color: #444444;
}

.slider {
  overflow: scroll;
  gap: 16px;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.slider .slider-track {
  display: flex;
  gap: 16px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-left: calc((100vw - 230px) / 2);
  padding-right: calc((100vw - 230px) / 2);
}
@media (min-width: 460px) {
  .slider .slider-track {
    padding: 0;
    scroll-snap-type: none;
    overflow-x: visible;
    scroll-behavior: auto;
  }
}
.slider .slider-track .slide {
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media (min-width: 460px) {
  .slider .slider-track .slide {
    flex-shrink: 1;
    width: 100%;
  }
}
.slider .slider-track::-webkit-scrollbar {
  display: none;
}
.slider .slider-dots {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media (min-width: 460px) {
  .slider .slider-dots {
    display: none;
  }
}
.slider .dot {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  background-color: #E6E6E6;
  border-radius: 100%;
  transition: background 0.2s;
}
.slider .dot.active {
  background: #1E1E1E;
}
@media (min-width: 768px) {
  .slider {
    overflow: visible;
    position: static;
  }
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transition: ease-out all 0.2s;
}

.button-base {
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

.button-green {
  background-color: #18C576;
}
.button-green:hover {
  background-color: rgba(24, 197, 118, 0.5647058824);
}

.button-icon {
  padding: 3px;
}
.button-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.button-rhomb {
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  line-height: 120%;
  padding: 8px 16px;
  transform: skew(-20deg);
}
.button-rhomb p,
.button-rhomb svg {
  transform: skew(20deg);
}
.button-rhomb:hover {
  transform: skew(-25deg);
}

.chip_collection {
  display: flex;
  gap: 4px;
}
.chip_collection .chip {
  color: white;
  padding: 0 11px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  width: -moz-fit-content;
  width: fit-content;
}
.chip_collection .chip-green {
  background-color: #18C576;
}
.chip_collection .chip-yellow {
  background-color: #FFA726;
}
.chip_collection .chip-pink {
  background-color: #FF5BC6;
}
.chip_collection .chip-purple {
  background-color: #AC59F1;
}
.chip_collection .chip-blue {
  background-color: #39B0F4;
}

.chip_collection-row {
  flex-direction: row;
}

.chip_collection-col {
  flex-direction: column;
}

.intro {
  height: 300px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}
.intro .intro_video_wrapper {
  width: 100%;
  height: 204px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 600px) {
  .intro .intro_video_wrapper:has(.intro_video_button:hover) {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .intro .intro_video_wrapper:has(.intro_video_button:hover) .intro_video {
    transform: scale(1.08) rotateZ(1deg) translateX(10px);
  }
  .intro .intro_video_wrapper:has(.intro_video_button:hover) .intro_video_blurer {
    opacity: 1;
  }
}
.intro .intro_video_wrapper .intro_video_blurer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}
.intro .intro_video_wrapper .intro_video {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s;
}
.intro .intro_video_wrapper .intro_video-viewer {
  z-index: 1000;
}
.intro .intro_video_wrapper .intro_video-viewer,
.intro .intro_video_wrapper .intro_video_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro .intro_video_wrapper .intro_video_button {
  z-index: 300;
}
@media (min-width: 768px) {
  .intro {
    height: 465px;
  }
  .intro .intro_video_wrapper {
    height: 337px;
  }
}
@media (min-width: 1440px) {
  .intro {
    height: 645px;
  }
  .intro .intro_video_wrapper {
    height: 517px;
  }
}

.products {
  padding: 48px 0;
}
.products .products_collage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.products .products_collage .item {
  background: #cce;
  padding: 20px;
  text-align: center;
}
.products .products_collage .group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media (min-width: 768px) {
  .products .products_collage {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item-1 group-1" "group-2 group-2";
  }
  .products .products_collage .item-1 {
    grid-area: item-1;
  }
  .products .products_collage .group-1 {
    grid-area: group-1;
  }
  .products .products_collage .group-2 {
    grid-area: group-2;
  }
}
@media (min-width: 1440px) {
  .products .products_collage {
    grid-template-columns: auto auto auto;
    grid-template-areas: none;
  }
  .products .products_collage .item-1,
  .products .products_collage .group-1,
  .products .products_collage .group-2 {
    all: unset;
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
  .products .products_collage .product-grid {
    align-items: start;
  }
}
.products .products_collage_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.products .products_collage_container .products_collage_item {
  height: 175px;
}
@media (min-width: 768px) {
  .products .products_collage_container {
    flex-direction: row;
  }
  .products .products_collage_container .products_collage_item {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .products .products_collage_container {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .products .products_collage_container .products_collage_item {
    height: 154px;
  }
}
.products .products_collage_container-slider {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}
@media (min-width: 460px) {
  .products .products_collage_container-slider {
    margin: 0;
    position: static;
    width: 100%;
  }
}
.products .products_collage_item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.products .products_collage_item .products_collage_item-head {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products .products_collage_item .products_collage_item-head .products_collage_item-first {
  position: absolute;
  top: 12px;
  left: 12px;
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.products .products_collage_item .products_collage_item-head .products_collage_item-first .products_collage_item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 95%;
  color: white;
}
@media (min-width: 768px) {
  .products .products_collage_item .products_collage_item-head .products_collage_item-first {
    justify-content: space-between;
  }
  .products .products_collage_item .products_collage_item-head .products_collage_item-first .chip_collection {
    flex-direction: column;
  }
}
.products .products_collage_item .products_collage_item-head .products_collage_item-actions {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
}
.products .products_collage_item .products_collage_item-foot {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0 16px 16px 16px;
  position: relative;
  z-index: 200;
}
.products .products_collage_item .products_collage_item-foot .products_collage_item-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.products .products_collage_item .products_collage_item-foot .products_collage_item-submit button {
  width: 100%;
}
@media (min-width: 768px) {
  .products .products_collage_item .products_collage_item-foot .products_collage_item-submit {
    flex-direction: row;
    justify-content: end;
  }
  .products .products_collage_item .products_collage_item-foot .products_collage_item-submit button {
    max-width: 142px;
  }
}
@media (min-width: 768px) {
  .products .products_collage_item .products_collage_item-foot {
    padding: 0 12px 12px 0;
  }
}
@media (min-width: 1440px) {
  .products .products_collage_item {
    min-width: 387px;
  }
}
.products .products_collage_card {
  width: 100%;
  max-width: 230px;
  min-width: 148px;
  height: 410px;
  border-radius: 6.25px;
  overflow: hidden;
}
.products .products_collage_card .products_collage_card-preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 100%;
}
.products .products_collage_card .products_collage_card-preview .products_collage_card-preview--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 768px) {
  .products .products_collage_card .products_collage_card-preview {
    height: 181px;
  }
}
.products .products_collage_card .products_collage_card-content {
  background-color: #FFFFFF;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 147px;
}
.products .products_collage_card .products_collage_card-content .products_collage_card-title {
  width: 100%;
  max-width: 180px;
  font-weight: 600;
  font-size: 17.5px;
  line-height: 120%;
  color: #444444;
}
@media (min-width: 768px) {
  .products .products_collage_card .products_collage_card-content .products_collage_card-title {
    font-size: 14px;
  }
}
.products .products_collage_card .products_collage_card-content .products_collage_card-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .products .products_collage_card .products_collage_card-content .products_collage_card-submit {
    gap: 8px;
  }
  .products .products_collage_card .products_collage_card-content .products_collage_card-submit .price {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .products .products_collage_card .products_collage_card-content {
    padding-top: 14px;
    padding-bottom: 12px;
  }
}
@media (min-width: 460px) {
  .products .products_collage_card {
    max-width: 100% !important;
  }
}
@media (min-width: 768px) {
  .products .products_collage_card {
    height: 328px !important;
  }
}/*# sourceMappingURL=styles.css.map */